{% extends "layout.html" %}

{% block main %}
<!-- 
This template renders a list of songs and provides functionality to play a song or clear the list.

- The outer <div> contains the entire content.
- A loop iterates over the 'results' context variable, which is expected to be a list of songs.
- For each song in 'results':
    - A <div> with class "song-item" is created to hold the song information and play button.
    - Inside "song-item", another <div> with class "song-info" contains:
        - An <h3> element displaying the song title.
        - A form with action="/" and method="POST" to submit the song's video ID and title for playing.
            - The form includes hidden input fields for 'id_next' and 'title_next' to pass the song's video ID and title.
            - A submit button with class "button" labeled "Play".
    - If the current song is not the last in the list, an <hr> element with class "separator" is added after the song item.
- A form with action="/delete" and method="POST" is provided to clear the list.
    - The form contains a submit button with class "buttton" (note the typo) labeled "Clear".
    - The button includes an SVG icon for visual representation.
-->
<div style="margin-top: 10px;">
  {% for song in results %}
  <div class="song-item" style="display: flex; justify-content: left; align-items: center; margin-left: 100px;">
      <div class="song-info" style="border: 1px solid black; padding: 10px; display: flex; align-items: center;">
        <img src="{{ song.thumbnail }}" alt="{{ song.title }}" class="thumbnail">
          <h3 style="margin-right: 10px;">{{ song.title }}</h3>

          <form action="/" method="POST" class="play-button-form">
              <input type="hidden" name="place_next" value="{{ song.place }}">
              <input type="hidden" name="id_next" value="{{ song.videoid }}">
              <input type="hidden" name="title_next" value="{{ song.title }}">
              <button class="button" type="submit">Play</button>
          </form>
          <form action="/delete_next" method="POST" class="play-button-form">
              <input type="hidden" name="id_delete" value="{{ song.videoid }}">
              <button type="submit" class="buutton">
                <svg viewBox="0 0 448 512" class="svgIcon">
                  <path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"></path>
                </svg>
              </button>
          </form>
          
      </div>
  </div>
        {% if not loop.last %}
            <hr class="separator">
        {% endif %}
    {% endfor %}
    <form action="/delete" method="POST">
        <button class="buttton" type="submit">
            <span>Clear</span>
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-miterlimit="2" stroke-linejoin="round" fill-rule="evenodd" clip-rule="evenodd">
                    <path fill-rule="nonzero" d="m12.002 2.005c5.518 0 9.998 4.48 9.998 9.997 0 5.518-4.48 9.998-9.998 9.998-5.517 0-9.997-4.48-9.997-9.998 0-5.517 4.48-9.997 9.997-9.997zm0 1.5c-4.69 0-8.497 3.807-8.497 8.497s3.807 8.498 8.497 8.498 8.498-3.808 8.498-8.498-3.808-8.497-8.498-8.497zm0 7.425 2.717-2.718c.146-.146.339-.219.531-.219.404 0 .75.325.75.75 0 .193-.073.384-.219.531l-2.717 2.717 2.727 2.728c.147.147.22.339.22.531 0 .427-.349.75-.75.75-.192 0-.384-.073-.53-.219l-2.729-2.728-2.728 2.728c-.146.146-.338.219-.53.219-.401 0-.751-.323-.751-.75 0-.192.073-.384.22-.531l2.728-2.728-2.722-2.722c-.146-.147-.219-.338-.219-.531 0-.425.346-.749.75-.749.192 0 .385.073.531.219z"></path>
                </svg>
            </span>
        </button>
    </form>
</div>


<style>
.thumbnail {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

/* From Uiverse.io by vinodjangid07 */ 
.buutton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: .3s;
  overflow: hidden;
  position: relative;
}

.svgIcon {
  width: 12px;
  transition-duration: .3s;
}

.svgIcon path {
  fill: white;
}

.buutton:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: .3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
}

.buutton:hover .svgIcon {
  width: 50px;
  transition-duration: .3s;
  transform: translateY(60%);
}

.buutton::before {
  position: absolute;
  top: -20px;
  content: "Delete";
  color: white;
  transition-duration: .3s;
  font-size: 2px;
}

.buutton:hover::before {
  font-size: 13px;
  opacity: 1;
  transform: translateY(30px);
  transition-duration: .3s;
}











.button {
 --color: #00A97F;
 padding: 0.8em 1.7em;
 background-color: transparent;
 border-radius: .3em;
 position: relative;
 overflow: hidden;
 cursor: pointer;
 transition: .5s;
 font-weight: 400;
 font-size: 17px;
 border: 1px solid;
 font-family: inherit;
 text-transform: uppercase;
 color: var(--color);
 z-index: 1;
 margin-left: 10px;
 flex-shrink: 0;
}

.button::before, .button::after {
 content: '';
 display: block;
 width: 50px;
 height: 50px;
 transform: translate(-50%, -50%);
 position: absolute;
 border-radius: 50%;
 z-index: -1;
 background-color: var(--color);
 transition: 1s ease;
}

.button::before {
 top: -1em;
 left: -1em;
}

.button::after {
 left: calc(100% + 1em);
 top: calc(100% + 1em);
}

.button:hover::before, .button:hover::after {
 height: 410px;
 width: 410px;
}

.button:hover {
 color: rgb(10, 25, 30);
}

.button:active {
 filter: brightness(.8);
}

.thumbnail-container {
  margin-right: 10px;
}

.song-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.song-info {
    padding: 10px;
    display: flex;
    align-items: center;
}

.song-info h3 {
    margin-right: 10px;
    padding: 5px;
}

.play-button-form {
    padding: 5px 10px;
}

.album-cover {
    width: 100px;
    height: 100px;
}

.separator {
    margin: 10px 0;
}



/* From Uiverse.io by gharsh11032000 */ 
.buttton {
  margin-left: 100px;
  margin-top: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 15px 20px;
  background-color: #212121;
  border: none;
  font: inherit;
  color: #e8e8e8;
  font-size: 20px;
  font-weight: 600;
  border-radius: 50px;
  cursor: not-allowed;
  overflow: hidden;
  transition: all 0.3s ease cubic-bezier(0.23, 1, 0.320, 1);
}

.buttton span {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
}

.buttton::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  translate: 0 105%;
  background-color: #F53844;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.buttton svg {
  width: 32px;
  height: 32px;
  fill: #F53844;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.buttton:hover {
  animation: shake 0.2s linear 1;
}

.buttton:hover::before {
  translate: 0 0;
}

.buttton:hover svg {
  fill: #e8e8e8;
}

@keyframes shake {
  0% {
    rotate: 0deg;
  }

  33% {
    rotate: 10deg;
  }

  66% {
    rotate: -10deg;
  }

  100% {
    rotate: 10deg;
  }
}

</style>
{% endblock %}